cf-username: <username>
cf-password: <password>
cf-organization: <org>
cf-space-dev: <dev_space>
cf-space-stage: <stage_space>
cf-api: <api_name>
gcp_service_account_key: |
  {
    "type": "",
    "project_id": "",
    "private_key_id": "",
    "private_key": "",
    "client_email": "",
    "client_id": "",
    "auth_uri": "",
    "token_uri": "",
    "auth_provider_x509_cert_url": "",
    "client_x509_cert_url": ""
  }